<div th:replace="~{/fragments/header}"></div>

<main class="container">
  <h1>Животные</h1>
  <table
         th:object="${form}"
         class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Тип</th>

        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead >
    <tbody>
      <tr th:each="animal : ${model.animals}">
        <th scope="row" th:text="${animal.id}"></th>
        <td th:text="${animal.name}"></td>
        <td th:text="${animal.type}"></td>

        <td><a class="btn btn-outline-success" th:href="@{/animals/{id}(id=${animal.id})}">Подробнее</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-outline-primary" th:href="@{/animals/create}">Создать</a>

</main>

<div th:replace="~{/fragments/footer}"></div>